#Breaker1 {
  height: 2px;
  font-family: 'museo700';
  margin-bottom: 0px;
  position: absolute;
  padding: .1em;
  background: black;
  color: yellow;
   top:50px;
  left:50px;
  width:40px;
   transform: rotate(90deg);
}
